@import './components/sidebar-left';
@import "./components/btn.less";
@import './base/flex-block.less';
@import './components/header.less';
@import './components/graph.less';

html, body {
	height: 100%;
	width: 100%;
	
}
body {
	background: white;
}

hr {
	border: solid 1px whitesmoke;
}

.no-select() {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;  
}

/**
 * global variables
 */

@brand-primary: #30D0C6;
@brand-primary-bg: #6A6B8A;
@brand-primary-bg-dark: #383C5F;
@brand-gray: #F6F6F6;
@brand-gray-d1: #F0F0F0;
@brand-gray-d2: #E0E0E0;

/**
 * app structure
 */
.app-container {
	position: absolute;
	height: 100%;
	width: 100%;
	@sidebar-width: 240px;
	@header-height: 63px;
	.app-header {
		height: @header-height;
		padding-left: 0;
		.no-select();
		.brand-logo-container {
			width: @sidebar-width;
		}
	}
	.app-body {
		position: absolute;
		top: @header-height - 1;
		bottom: 0;
		left: 0;
		right: 0;
		.app-sidebar-left {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: @sidebar-width;
			background: @brand-primary-bg;
		}
		.app-playground{
			position: absolute;
			left: @sidebar-width;
			right: @sidebar-width;
			top: 0;
			bottom: 0;
			background: url(data:image/gif;base64,R0lGODlhCgAKAJEAAAAAAP///8zMzP///yH5BAEAAAMALAAAAAAKAAoAAAIJ1I6py+0Po2wFADs=);
		}
		.app-sidebar-right {
			@bg-color: #415B72; 
			@block-header-active-color: #305669;
			@block-header-color: #415175;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: @sidebar-width;
			background: @bg-color;
		}
	}
}


/*
暂时去除modal-dialog的内容,因为没有支持大模态框和小模态框.
.modal-dialog {
    width: 600px;
    margin: 16% auto;
}
*/
:-webkit-any(select.form-control) {
  -webkit-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAFCAMAAACdH1c/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFRUpR////m74sLQAAAAJ0Uk5T/wDltzBKAAAAJklEQVR42mJgYAQDKAUFDAwMEApVFCyAJsgIFkIXBJuHIcgIEGAAEyUAWsvQ8r0AAAAASUVORK5CYII=)
}

::-webkit-scrollbar {
	@size: 6px;
    width: @size;
    height: @size;
    background-color: rgba(0, 0, 0, 0.07);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-width: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(106, 106, 106, 0.52);
    -webkit-box-shadow: inset 0 0 4px rgba(173, 173, 173, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}


 















